/* untuk main screen */

#main-screen{
    background: url("../assets/main-bg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.navbar-dark{
    background: rgba(0, 0, 0, 0.5) !important;
}

.nav-link{
    color: white;
}

.icon{
    height: 50px;

}

.nav-item{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.font-h1{
    font-size: 80px;
    left: 10px;
}

.font-h3{
    font-size: 24px;
}

#main-screen .highlight-text{
    margin-top: 250px;
}


.btn-warning {
    --bs-btn-color: #1A1917;
    --bs-btn-bg: #F3AF34;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffca2c;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
    padding: 10px 50px;
    font-size: 16px;
    border-radius: 4px;
}

.btn-thestory{
    margin-top: 380px;
    margin-left: 790px;
    text-align: center;
    padding: 10px 100px 0px 100px;
}

.scroll-down{
    position: absolute;
    bottom: 10px;
    left: 920px;
}

/* untuk About */

#about{
    display: grid;
    background: url("../assets/the-games-bg.jpg");
    background-position: center;
    min-height: 1050px;
}

.col-4{
    font-size: 24px;
    margin-top: 254px;
    margin-left: 200px;
    color: white;
}

.font-about-h3{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.font-about-h1{
    font-family: 'Arial';
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.col-8{
    position: absolute;
    width: 858px;
    height: 477px;
    left: 674px;;
    top: 1280px;
}

/* untuk Features */

#features{
    display: inherit;
    background: url("../assets/features.jpg");
    background-position: center;
    min-height: 100vh;
}

.features{
    font-size: 24px;
    color: white;
    margin-left: 80px;

}

.font-feature-h3{
    margin-left: 450px;
    padding-left: 500px;
    margin-top: 200px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.font-feature-h1{
    margin-left: 450px;
    padding-left: 500px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.p1{
    margin-left: 450px;
    margin-top: 50px;
    padding-left: 550px;
    color:#FFB548;
    font-size: 24px;
}

.p2{
    margin-left: 450px;
    padding-left: 550px;
    color:#FFB548;
    font-size: 24px;
}
.i1{
    padding-left: 550px;
    padding-bottom: 20px;
    margin-left: 450px;
    padding-right: 400px;
    font-size: 18px;
}
.p3{
    margin-left: 350px;
    padding-left: 651px;
    color:#FFB548;
    font-size: 24px;
}

/* untuk Requirements */

#requirements{
    background: url(../assets/requirements.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.p4{
    color: white;
    text-align: center;
    padding-top: 100px;
    font-family: 'Arial';
    font-style: normal;
}

.p5{
    color: white;
    font-size: 56px;
    padding-left: 200px;
    padding-right: 600px;
    margin-right: 676px;
    margin-top: 50px;
    font-family: 'Arial';
    font-style: normal;
    text-transform: uppercase;
}

.p6{
    color: white;
}

#table-head{
    color: #FFB548;
}

/* quotes */

#quotes{
    background: url("../assets/top-score-bg.png");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.quotes{
    position: absolute;
    left: 200px;
    margin-top: 450px;
}

.font-quotes-h3{
    color: white;
    padding-left: 100px;
    font-family: 'Arial';
    font-style: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.font-quotes-h1{
    color: white;
    padding-top: 20px;
    padding-left: 100px;
    font-family: 'Arial';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;

}

.btn-score{
    --bs-btn-color: #1A1917;
    --bs-btn-bg: #F3AF34;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffca2c;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
    padding: 10px 50px;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 16px;
    border-radius: 4px;
}

.bg-evan{
    position: absolute;
    width: 450px;
    height: 183px;
    left: 65%;
    margin-top: 180px;
    border-radius: 10px;
}

.ellipse-evan{
    position: absolute;
    margin-top: 195px;
    left: 68%;
} 

.evan-jpg{
    position: absolute;
    margin-top: 195px;
    left: 67%;
    border-radius: 100%;
}

.name-evan{
    position: absolute;
    left: 73%;
    margin-top: 200px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.text-evan{
    position: absolute;
    margin-top: 60px;
left: 67%;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
}

.evan-date{
    position: absolute;
    margin-top: 100px;
left: 67%;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
opacity: 0.5;
}

.workplace-evan{
    position: absolute;
left: 73%;
margin-top: 10px;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: justify;
color: #FFFFFF;
opacity: 0.5;
}

/* newsletter */

#newsletter{
    background: url(../assets/newsletter.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: sticky;
}


.font-newsletter-h3{
    color: white;
    padding-left: 900px;
    padding-top: 300px;
    font-size: 24px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.font-newsletter-h1{
    color: white;
    padding-left: 900px;
    padding-right: 600px;
    font-size: 65px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 75px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.p6{
    color: white;
    padding-left: 900px;
    padding-right: 400px;
    font-size: 18px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px
}

.mb-3{
    padding-left: 900px;
    padding-right: 600px;
}

.skull-foto{
    float: left;
    max-width: 445px;
    margin-top: 100px;
    margin-left: 200px;
}

.form-label{
    color: white;
}

.btn-primary{
    --bs-btn-color: #1A1917;
    --bs-btn-bg: #F3AF34;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffca2c;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
    padding: 10px 50px;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 16px;
    border-radius: 4px;

}

.hr-footer{
    color: white;
    margin-top: 200px;
    
}

.text-inc{
    color: white;
    position: absolute;
    margin-top: 10px;
    left: 120px;
    opacity: 0.5;
}

.text-tos{
    color: white;
    position: absolute;
    margin-top: 10px;
    right: 120px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}